header {
    background-color: #3A3A3A;
}
h1 {
    color: #fff;
}
nav{
    text-align:right;
}
a {
    color: #fff ;
    font-size: 24px;
    font-family: 'Jost' , 'Arial';
    font-weight: 400;
    text-decoration: none;
    margin-right:50px;
}